<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Discuss!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
      <nav class="light-blue">
          <div class="nav-wrapper container">
              <a href="/" class="brand-logo">
                  Discussions
              </a>
              <ul class="right">
                  <%=  if @conn.assigns[:user] do %>
                      <li>
                         <%= link "Signout", to: auth_path(@conn, :signout) %>
                      </li>
                  <% else %>
                      <li>
                          <%= link "Sign in with Github", to: auth_path(@conn, :request, "github") %>
                      </li>
                  <% end %>


              </ul>
          </div>
      </nav>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
